In [25]:
import pandas as pd

df = pd.read_csv('LAWeather_1h.csv')

In [26]:
columns = df.columns

In [27]:
columns

Index(['key', 'class', 'expire_time_gmt', 'obs_id', 'obs_name',
       'valid_time_gmt', 'day_ind', 'temp', 'wx_icon', 'icon_extd',
       'wx_phrase', 'pressure_tend', 'pressure_desc', 'dewPt', 'heat_index',
       'rh', 'pressure', 'vis', 'wc', 'wdir', 'wdir_cardinal', 'gust', 'wspd',
       'max_temp', 'min_temp', 'precip_total', 'precip_hrly', 'snow_hrly',
       'uv_desc', 'feels_like', 'uv_index', 'qualifier', 'qualifier_svrty',
       'blunt_phrase', 'terse_phrase', 'clds', 'water_temp',
       'primary_wave_period', 'primary_wave_height', 'primary_swell_period',
       'primary_swell_height', 'primary_swell_direction',
       'secondary_swell_period', 'secondary_swell_height',
       'secondary_swell_direction'],
      dtype='object')

In [28]:
na_rate = {}
for column in columns:
    na_rate[column] = sum(pd.isna(df[column]))/df.shape[0]
    print('NA rate of column {} is {}'.format(column,sum(pd.isna(df[column]))/df.shape[0]))

NA rate of column key is 0.0
NA rate of column class is 0.0
NA rate of column expire_time_gmt is 0.0
NA rate of column obs_id is 0.0
NA rate of column obs_name is 0.0
NA rate of column valid_time_gmt is 0.0
NA rate of column day_ind is 0.0
NA rate of column temp is 0.0
NA rate of column wx_icon is 0.0
NA rate of column icon_extd is 0.0
NA rate of column wx_phrase is 0.0
NA rate of column pressure_tend is 0.6949270326615705
NA rate of column pressure_desc is 0.6945795691452398
NA rate of column dewPt is 0.013551077136900626
NA rate of column heat_index is 0.0
NA rate of column rh is 0.0
NA rate of column pressure is 0.0
NA rate of column vis is 0.0
NA rate of column wc is 0.0
NA rate of column wdir is 0.26129256428075054
NA rate of column wdir_cardinal is 0.0
NA rate of column gust is 0.9593467685892981
NA rate of column wspd is 0.22341904100069493
NA rate of column max_temp is 0.8099374565670605
NA rate of column min_temp is 0.8099374565670605
NA rate of column precip_total is 1.0
NA rate of column precip_hrly is 0.9645587213342599
NA rate of column snow_hrly is 1.0
NA rate of column uv_desc is 0.15740097289784571
NA rate of column feels_like is 0.0
NA rate of column uv_index is 0.0
NA rate of column qualifier is 1.0
NA rate of column qualifier_svrty is 1.0
NA rate of column blunt_phrase is 1.0
NA rate of column terse_phrase is 1.0
NA rate of column clds is 0.0
NA rate of column water_temp is 1.0
NA rate of column primary_wave_period is 1.0
NA rate of column primary_wave_height is 1.0
NA rate of column primary_swell_period is 1.0
NA rate of column primary_swell_height is 1.0
NA rate of column primary_swell_direction is 1.0
NA rate of column secondary_swell_period is 1.0
NA rate of column secondary_swell_height is 1.0
NA rate of column secondary_swell_direction is 1.0

In [29]:
threshold = 0.5 # NA rate lower than threshold we will take further action
target_column_list = []
for key,value in zip(na_rate.keys(),na_rate.values()):
    if value < threshold:
        target_column_list.append(key)

In [30]:
df_1 = df[target_column_list]

In [31]:
for column in target_column_list:
    print(df_1[column].value_counts())

KBUR    2878
Name: key, dtype: int64
observation    2878
Name: class, dtype: int64
2012/2/29 23:53    1
2012/5/20 13:53    1
2012/5/19 17:53    1
2012/5/19 18:53    1
2012/5/19 19:53    1
                  ..
2012/4/10 1:53     1
2012/4/10 2:53     1
2012/4/10 3:53     1
2012/4/10 4:53     1
2012/6/28 21:53    1
Name: expire_time_gmt, Length: 2878, dtype: int64
KBUR    2878
Name: obs_id, dtype: int64
Burbank    2878
Name: obs_name, dtype: int64
2012022923    1
2012052013    1
2012051917    1
2012051918    1
2012051919    1
             ..
2012041001    1
2012041002    1
2012041003    1
2012041004    1
2012062821    1
Name: valid_time_gmt, Length: 2878, dtype: int64
D    1613
N    1265
Name: day_ind, dtype: int64
60.000000    167
59.000000    165
61.000000    142
58.000000    129
62.000000    129
            ...
46.250000      1
47.500000      1
52.333333      1
44.500000      1
87.000000      1
Name: temp, Length: 101, dtype: int64
34    1199
33     849
26     588
28      76
30      69
27      58
29      39
Name: wx_icon, dtype: int64
3400    1199
3300     844
2600     583
2800      76
3000      69
2700      58
2900      39
3390       5
2690       5
Name: icon_extd, dtype: int64
100000000     2043
1000000000     825
100010000        5
1000010000       5
Name: wx_phrase, dtype: int64
55.000000    263
54.000000    244
53.000000    183
56.000000    167
50.000000    157
            ...
29.500000      1
42.666667      1
42.500000      1
48.666667      1
48.750000      1
Name: dewPt, Length: 102, dtype: int64
60.000000    167
59.000000    165
61.000000    142
58.000000    129
62.000000    129
            ...
46.250000      1
47.500000      1
52.333333      1
44.500000      1
87.000000      1
Name: heat_index, Length: 101, dtype: int64
83.000000    154
80.000000    107
78.000000     84
75.000000     78
86.000000     75
            ...
94.333333      1
90.333333      1
74.750000      1
89.500000      1
89.666667      1
Name: rh, Length: 159, dtype: int64
29.090000    141
29.070000    128
29.050000    114
29.170000    106
29.080000    105
            ...
28.883333      1
28.935000      1
28.882500      1
29.076667      1
29.207500      1
Name: pressure, Length: 127, dtype: int64
10.000000    2251
7.000000       96
8.000000       88
9.000000       86
5.000000       79
6.000000       77
4.000000       54
3.000000       46
2.000000       20
8.500000       10
1.000000        8
6.500000        8
9.500000        7
7.500000        6
2.500000        5
4.500000        5
7.333333        5
5.500000        5
7.666667        3
3.666667        3
8.333333        2
5.333333        2
3.500000        2
4.333333        1
9.333333        1
8.666667        1
7.250000        1
9.666667        1
3.333333        1
2.666667        1
1.500000        1
1.700000        1
7.750000        1
Name: vis, dtype: int64
60.000000    167
59.000000    165
61.000000    142
62.000000    129
58.000000    129
            ...
51.666667      1
52.500000      1
37.000000      1
93.000000      1
87.000000      1
Name: wc, Length: 102, dtype: int64
180.0    350
170.0    249
160.0    173
130.0    162
140.0    141
190.0    135
120.0    135
150.0    124
110.0    112
100.0     77
200.0     62
90.0      46
210.0     34
340.0     30
330.0     29
300.0     26
310.0     23
290.0     21
280.0     21
320.0     18
220.0     17
80.0      17
260.0     15
360.0     14
270.0     14
10.0      13
250.0     13
70.0      11
350.0     11
230.0      8
240.0      8
20.0       6
60.0       4
50.0       3
40.0       2
30.0       2
Name: wdir, dtype: int64
S       734
CALM    613
SE      303
SSE     297
ESE     247
E       140
VAR     139
SSW      96
NNW      59
W        50
WNW      47
NW       41
N        38
SW       25
WSW      21
ENE      15
NNE       8
NE        5
Name: wdir_cardinal, dtype: int64
3.000000     376
5.000000     315
6.000000     274
8.000000     271
7.000000     253
9.000000     212
10.000000    179
12.000000    110
13.000000     70
14.000000     29
4.000000      16
16.000000     15
6.500000      13
5.500000      13
15.000000     13
7.500000      12
18.000000      8
20.000000      7
17.000000      5
21.000000      3
9.500000       3
11.500000      2
6.666667       2
5.333333       2
4.500000       2
22.000000      2
13.500000      2
14.500000      2
4.333333       2
5.666667       2
7.666667       2
19.500000      1
7.333333       1
3.666667       1
11.000000      1
8.666667       1
3.500000       1
18.500000      1
16.333333      1
12.666667      1
12.500000      1
16.500000      1
23.000000      1
15.500000      1
8.333333       1
6.600000       1
7.250000       1
9.833333       1
4.666667       1
Name: wspd, dtype: int64
Low    2425
Name: uv_desc, dtype: int64
60.000000    167
59.000000    165
61.000000    142
62.000000    129
58.000000    129
            ...
51.666667      1
52.500000      1
37.000000      1
93.000000      1
87.000000      1
Name: feels_like, Length: 102, dtype: int64
 0.0      2417
-5.0        23
-76.0       11
-17.0       10
-16.0        9
          ...
-277.0       1
-482.0       1
-525.0       1
-377.0       1
-101.0       1
Name: uv_index, Length: 273, dtype: int64
CLR    1974
OVC     588
BKN     134
SCT     108
FEW      74
Name: clds, dtype: int64

In [22]:
df_ffill = df_1.fillna(method='ffill')
df_bfill = df_ffill.fillna(method='bfill')

In [23]:
df_bfill

       key        class  expire_time_gmt  ... feels_like uv_index  clds
0     KBUR  observation  2012/2/29 23:53  ...       52.0      0.0   OVC
1     KBUR  observation    2012/3/1 0:46  ...       52.0      0.0   OVC
2     KBUR  observation    2012/3/1 1:31  ...       51.5      0.0   OVC
3     KBUR  observation    2012/3/1 2:53  ...       50.0      0.0   BKN
4     KBUR  observation    2012/3/1 3:53  ...       49.0      0.0   OVC
...    ...          ...              ...  ...        ...      ...   ...
2874  KBUR  observation  2012/6/28 17:53  ...       83.0      0.0   CLR
2875  KBUR  observation  2012/6/28 18:53  ...       80.0      0.0   CLR
2876  KBUR  observation  2012/6/28 19:53  ...       76.0      0.0   CLR
2877  KBUR  observation  2012/6/28 20:53  ...       71.0      0.0   CLR
2878  KBUR  observation  2012/6/28 21:53  ...       69.0      0.0   CLR

[2879 rows x 24 columns]

In [ ]:
weather_dataset = {}
time_range = None
time_fitness = None
weather_value = None
weather_info = None


weather_dataset['TimeRange'] = time_range
weather_dataset['TimeFitness'] = time_fitness
weather_dataset['WeatherValue'] = weather_value
weather_dataset['WeatherInfo'] = weather_info